@charset "UTF-8";
/**colores**/
/**tamaño de la fuente**/
/**tamaño de pantallas**/
/**espacio separacion (margenes, bordes, padding)**/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecebe4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li a:hover {
  background-color: purple;
}

.logo {
  width: 80px;
  margin: 10px 10px;
}

.lista {
  list-style: none;
  font-size: 20px;
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  .lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
  }
}
header {
  background-color: #429ea6;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
li a {
  color: white;
  text-decoration: none;
  display: flex;
  border: 5px;
  background-color: black;
  padding: 10px;
}

.cuerpo-index {
  margin: 10px;
  font-size: 20px;
}
.cuerpo-index p {
  margin-top: 20px;
  margin-bottom: 20px;
}

iframe {
  margin-top: 20px;
}

@media (max-width: 480px) {
  iframe {
    width: 350px;
    height: 300px;
  }
}
.div-card {
  background-color: #ecebe4;
  display: inline-block;
  width: 200px;
  height: 350px;
  border: solid 5px black;
  padding: 20px;
  color: black;
  gap: 5px;
  margin: 10px 0px;
}
.div-card:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .div-card {
    width: 170px;
    height: 350px;
  }
}
.img-cards {
  width: 224px;
  height: 200px;
}

@media (max-width: 480px) {
  .div-card {
    width: 130px;
    height: 270px;
    overflow: auto;
    padding: 10px;
  }
  .div-card img {
    width: 150px;
    height: 120px;
  }
}
.padre-platos, .postres, .menu-infantil, .bebidas, .entradas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

main {
  margin: 10px;
}

img {
  max-width: 100%;
}

.evento-aniversario, .evento-graduacion {
  width: 100%;
  border-bottom: solid 1px black;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.evento-cumpleaños {
  width: 100%;
  border-bottom: solid 1px black;
  gap: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.img-eventos {
  height: 300px;
  margin: 20px;
  width: 1200px;
}

.eventos p {
  display: flex;
  align-items: center;
  margin: 20px;
}

@media (max-width: 480px) {
  .evento-aniversario, .evento-graduacion, .evento-cumpleaños {
    display: grid;
    grid-template-columns: 1fr;
  }
  .evento-aniversario .img-eventos, .evento-graduacion .img-eventos, .evento-cumpleaños .img-eventos {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
.instalaciones {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
}

.carousel-item img {
  width: 400px;
  height: 450px;
}

@media (max-width: 480px) {
  .carousel-item img {
    height: 350px;
  }
}
.carrusel {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .carrusel {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .carrusel {
    width: 200px;
  }
}
.card-nombre, .card-apellido, .card-correo, .card-celular, .card-fecha, .card-hora, .card-peticiones {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  width: 600px;
  gap: 5px;
}

@media (max-width: 768px) {
  .card-nombre, .card-apellido, .card-correo, .card-celular, .card-fecha, .card-hora, .card-peticiones {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .card-nombre, .card-apellido, .card-correo, .card-celular, .card-fecha, .card-hora, .card-peticiones {
    width: 250px;
  }
}
form {
  border: solid 2px black;
  width: 650px;
  background-color: #6d4357;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

@media (max-width: 768px) {
  form {
    width: 400px;
  }
}
@media (max-width: 480px) {
  form {
    width: 300px;
  }
}
.modal-body {
  color: black;
}

.centrar-formulario {
  margin-left: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: auto;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.logo-whatsapp {
  display: flex;
  justify-content: end;
}

/*# sourceMappingURL=styles.css.map */
