.evento-aniversario, .evento-graduacion{
    width: 100%;
    border:solid 3px black;
    gap: 20px;
    display: flex;
    flex-direction: row;

}

.evento-cumpleaños{
    width: 100%;
    border:solid 3px black;
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.img-eventos{
    height: 300px;
    margin: 20px;
    width: 1200px;
}

.eventos p{
    display: flex;
    align-items: center;
    margin: 20px;
}