.cuerpo-index{
    margin:$espacio-pequeño;
    font-size: $fuente-mediana;
    p{
        margin-top: $espacio-mediano;
        margin-bottom: $espacio-mediano;
    }
}

iframe{
    margin-top: $espacio-mediano;
    display: block;
    margin: 0 auto;
}

@media (max-width: $celulares){
    iframe{
        width: 350px;
        height: 300px;
    }
}