.instalaciones{
    display: flex;
    flex-direction:row;
    gap: $espacio-grande;
    margin-top: $espacio-grande;
    justify-content: center;
}

.carousel-item img{
    width: 400px;
    height: 450px;
    }

@media (max-width:$celulares){    
.carousel-item img{
    height: 350px;
    }
}    

.carrusel{
    width: 600px;
    margin: auto;
    margin-top: $espacio-pequeño;
    margin-bottom: $espacio-pequeño;
}

@media (max-width:$tablets){
    .carrusel{
        width: 400px;
    }
}

@media (max-width:$celulares){
    .carrusel{
        width: 200px;
    }
}