/**colores**/
$color-primario:#ecebe4;
$color-secundario:#429ea6;
$color-terciario:#6d4357;

/**tamaño de la fuente**/
$fuente-pequeña: 10px;
$fuente-mediana: 20px;
$fuente-grande: 30px;

/**tamaño de pantallas**/
$celulares: 480px;
$tablets: 768px;

/**espacio separacion (margenes, bordes, padding)**/
$espacio-pequeño: 10px;
$espacio-mediano: 20px;
$espacio-grande: 30px;